<!-- dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    
</head>
<body>
    <h2>Dashboard</h2>
    
        <form action="/dashboard" id = "inputForm" method="post">
            <label for = "subject">Subject</label>
            <input type = "text" id = "subject" name = "subject" required>
            <label for="mode">Select Mode:</label>
            <select id="mode" name="mode" onchange="changeInputType()">
                <option value="topic" selected>Topic</option>
                <option value="youtube">YouTube</option>
            </select><br>

            <div id="inputContainer">
                <!-- The next input element will be added here dynamically -->
            </div>

            <input type="submit" value="Submit">
            

        
        </form>
        {% if result %}
            
            <md-block id  = "markdown-output">{{result}}</md-block>
            <form action = '/generate_quiz' id = 'generate_quiz' method="post">
            <button type="submit" name="quiz" value="generate_quiz">Generate Quiz</button></form>
            {% if narration %}
            <audio controls>
                <source src="{{ url_for('static', filename='narration.mp3') }}" type="audio/mpeg">
            </audio>

            {% endif %}
            {% if image_prompt %}
                <img src="{{ url_for('static', filename='image.jpg') }}">
            {% endif %}
        {% endif %}

        
        <script>
            document.addEventListener("DOMContentLoaded", function() {
        // Set the default value based on the initial selection
                changeInputType();
            });
            function changeInputType() {
                var selectedMode = document.getElementById("mode").value;
                var inputContainer = document.getElementById("inputContainer");
                inputContainer.innerHTML = "";

                var label = document.createElement("label");
                var input = document.createElement("input");
                input.type = "text";
                input.name = "value";

                if (selectedMode === "topic") {
                    label.textContent = "Topic:";
                    input.placeholder = "Enter topic";
                } else if (selectedMode === "youtube") {
                    label.textContent = "YouTube URL:";
                    input.placeholder = "Enter YouTube URL";
                }

                inputContainer.appendChild(label);
                inputContainer.appendChild(input);
            }
        </script>
    </body>
    </html>